<div class="phx-hero">
  <h2>¡Bienvenid@s!</h2>
  <h4>Esta prueba ha sido realizada por <b>Carlos A. Castex</b> para <a href="https://www.doofinder.com/es/">Doofinder</a></h4>
  <p>
  <button id="btnAcceso_lista" type="button" class="btn-success">Acceder</button>
  </p>
</div>