<div class="phx-hero">
  <h2>¡Bienvenid@s!</h2>
  <h4>Esta prueba ha sido realizada por <b>Carlos A. Castex</b> para <a href="https://www.doofinder.com/es/">Doofinder</a></h4>
  <p>
  <%= button("Acceder", to: Routes.book_path(@conn, :index), method: :get , class: "btn-success", id: "btnAcceso_lista") %>
  </p>
</div>