<div class="phx-hero">
<span><%= link "Volver", to: Routes.category_path(@conn, :index) %></span>
<h1>Editar Categoría</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.category_path(@conn, :update, @category)) %>

</div>