<div class="phx-hero details_categories">
<span><%= link "Volver", to: Routes.category_path(@conn, :index) %></span>
<h1>Detalles Categoría <%= @category.name %>:</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @category.description %>
  </li>

</ul>
</div>

