<div class="phx-hero">
<span><%= link "Volver", to: Routes.author_path(@conn, :index) %></span>
<h1>Alta Autor</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.author_path(@conn, :create)) %>
</div>