<div class="phx-hero">
<span><%= link "Volver Atrás", to: Routes.book_path(@conn, :index) %></span>
    <h1>Alta Libro</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.book_path(@conn, :create)) %>  
</div>